<?php $addresses= $block->getAddresses(); ?>
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>&nbsp;</td>
            <td colspan="9">
                <div align="center"><strong>Address Listing</strong></div>
            </td>
        </tr>
        <tr>
            <td>Index</td>
            <td>Street</td>
            <td>City</td>
            <td>Country</td>
            <td>Region</td>
            <td>Postcode</td>
            <td>Telephone</td>
            <td>Fax</td>
            <td>Firstname</td>
            <td>Lastname</td>
            <td>Email</td>
            <td>Prefix</td>
            <td>Action</td>
        </tr>
        </thead>
        <tbody>
        <?php foreach($addresses as $index=>$address): ?>
            <tr>
                <td class="danger"><?php echo $index+1; ?></td>
                <td class="danger"><?php echo $address['street']; ?></td>
                <td class="danger"><?php echo $address['city']; ?></td>
                <td class="danger"><?php echo $address['country']; ?></td>
                <td class="danger"><?php echo $address['region']; ?></td>
                <td class="danger"><?php echo $address['postcode']; ?></td>
                <td class="danger"><?php echo $address['telephone']; ?></td>
                <td class="danger"><?php echo $address['fax']; ?></td>
                <td class="danger"><?php echo $address['firstname']; ?></td>
                <td class="danger"><?php echo $address['lastname']; ?></td>
                <td class="danger"><?php echo $address['email']; ?></td>
                <td class="danger"><?php echo $address['prefix']; ?></td>
                <td class="danger">
                    <a href="<?php echo $block->getEditUrl()."id/".$address['id']; ?>">Edit</a>
                </td>
            </tr>
        <?endforeach;?>

        </tbody>
    </table>
</div>
