<?php
$hotels = $block->getHotels();
$roomType = $block->getRoomType();

?>
<style>
    .room_option_wrapper{
        margin: 10px 0px 10px 0px;
        width: 30%;
    }
    .option_wrapper{
        margin: 10px 0px 10px 0px;
    }
</style>
<?php
if(isset($roomType)):
?>
<div class="room_option_wrapper">
    <div class="option_wrapper">
        <label>Room Type: <b><?php echo $roomType; ?></b>
            <input type="hidden" name="roomtype" value="<?php echo $roomType; ?>"/>
            <input type="hidden" id="ajax_detail_hotel" value="<?php echo $block->getUrlRoomDetailAjax(); ?>" />
        </label>
    </div>
    <div class="option_wrapper">
        <label for="hotel_location">Location:
            <select id="hotel_location" name="hotel_id">
                <?php foreach ($hotels as $hotel):?>
                    <option value="<?php echo $hotel["hotel_id"]; ?>"><?php echo $hotel["hotel_name"]; ?></option>
                <?php endforeach;?>
            </select>
        </label>
    </div>
</div>

<script>
    require(['show_hotel_detail'],function(show_hotel_detail){
        show_hotel_detail();
    })
</script>

<?php endif;?>


