<style>
    .form{
        width: 40%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    th,td,tr{
        text-align: left;
        border: 1px solid whitesmoke;
    }


</style>
<div>
    <div class="form">
        <input type="hidden" id="search-url" value="<?php echo $block->getSearchUrl(); ?>" />
        <label>Key word:
            <input type="text" id="key-word" />
        </label>
        <div style="padding-top: 20px">
            <table id="result">

            </table>
        </div>
    </div>

</div>
<script type="text/javascript" xml="space">
    require(['ajaxSearchStaff'],function(ajaxSearchStaff){
        ajaxSearchStaff();
    })
</script>
