<?php $csData = $block->getCustomerDetail(); ?>
<style>
    .form-info{
        width: 20% !important;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    input{
        width: 100%;
    }
</style>
<div class="form-info">
    <form id="form-info">
        <input type="hidden" id="updateUrl" value="<?php echo $block->getUpdateUrl();?>" />
        <input type="hidden" id="id-customer" value="<?php echo $block->getCustomerId(); ?>" />
        <label>Select level:
            <select name="type" id="type">
                <option value="1"
                    <?php
                        if(isset($csData["type"])){
                            if($csData["type"]==1){
                                echo "selected";
                            }
                        }
                    ?>
                >lv1</option>
                <option value="2"
                    <?php
                    if(isset($csData["type"])){
                        if($csData["type"]==2){
                            echo "selected";
                        }
                    }
                    ?>
                >lv2</option>
                <option value="3"
                    <?php
                    if(isset($csData["type"])){
                        if($csData["type"]==3){
                            echo "selected";
                        }
                    }
                    ?>
                >other</option>
            </select>
        </label>
        <label>Your nick name:
            <input name="nick_name" value="<?php echo isset($csData['nick_name'])?$csData['nick_name']:"your nick name"; ?>" id="nick_name" />
        </label>
        <div style="margin-top: 10px">
            <button type="button" id="btn-update">Update</button>
        </div>
    </form>
</div>
<script type="text/javascript" xml="space">
    require(['ajaxUpdateUser'],function(ajaxUpdateUser){
        ajaxUpdateUser();
    })
</script>
