<?php
/**
 * @var \Magenest\TestFresher\Block\Widget\ProductSlider $block
 */
    $products = $block->getProducts();
?>

<style>
    .slick-prev{
        font-size: 0;
        position: absolute;
        bottom: 80px;
        color: #d5122f;
        border: 0;
        background: none;
        z-index: 1;
        left: 0rem;
        text-align: left;
        top:5px;
        background-color: transparent!important;
        border: none!important;
    }

    .slick-next {
        font-size: 0;
        position: absolute;
        bottom: 80px;
        color: grey;
        border: 0px!important;
        background: none;
        z-index: 1;
        right: 2rem;
        text-align: right;
        top:5px;
        background-color: transparent!important;
    }



    .slick-prev:after {
        content: "<";
        font: 2rem/1 'FontAwesome';
        background: transparent;
        border-radius: 50%;
        padding: 1rem 1.25rem 1rem 1.3rem;
        font-weight: 900;
        color: gray;
        border: 2px solid #D9D9D9;
    }



    .slick-next:after {
        content: ">";
        font: 2rem/1 'FontAwesome';
        background: transparent;
        border-radius: 50%;
        padding: 1rem 1.25rem 1rem 1.3rem;
        font-weight: 900;
        color: gray;
        border: 2px solid #D9D9D9;
    }

    .slick-next:hover:after {
        color: whitesmoke;
        background-color: #464545;
        color: white;
        border: 2px #464545;
    }

    .slick-prev:hover:after {
        color: whitesmoke;
        background-color: #464545;
        color: white;
        border: 2px #464545;
    }




    .product-item{
        padding: 0rem 2rem;
    }
    .product-name{
        margin: 0px;
    }
    .product-price:{
        margin: 0px;
    }
</style>

<?php
    $mediaUrl = $block->getMediaUrl();
?>

<div style="width: 100%; display: flex">
    <div style="width: 60%">
        <img style="width: 100%;margin-top: 1.2rem;" src="<?php echo $mediaUrl.$block->getData('thumbnail'); ?>">
    </div>
    <div style="width: 40%" class="slider demo">
        <?php foreach ($products as $product): ?>
            <div class="product-item">
                <div style="text-align: center">
                    <img src="<?php echo $block->getPriceAndImage($product['entity_id'])['image']; ?>">
                    <p class="product-name"><?php echo $product['sku'];?></p>
                    <p class="product-price"><?php echo $block->getPriceAndImage($product['entity_id'])['price']; ?></p>
                </div>
            </div>
        <?php endforeach; ?>
    </div>
</div>




<script>
    require(['jquery','slick'],function($){
        $(document).ready(function(){
            $('.demo').slick({
                infinite: false,
                slidesToShow: 2,
                slidesToScroll: 2,
                rows:2,
                onAfterChange: function(slide, index) {
                    console.log(index,slide);
                }
            });

            $('.slick-prev').css("display","none");

            $('.demo').on('afterChange', function (event, slick, currentSlide) {

                var slideCount = slick.slideCount;

                if(currentSlide === 0) {
                    $('.slick-prev').css("display","none");
                }else{

                    if(currentSlide== (slideCount -2) || currentSlide== (slideCount -1)){
                        $('.slick-next').css("display","none");
                    }else{
                        $('.slick-next').css("display","block");
                    }

                    $('.slick-prev').css("display","block");
                }

            })
        });
    })
</script>

