<div>
    <div>
        <div>
            <h2>Manufacturer Form</h2>
        </div>
        <div>
            <form action="<?php echo $block->getSubmitUrl(); ?>" method="post">
                <div>
                    <label>
                        Manufacturer name:
                        <input type="text" name="name" required>
                    </label>
                </div>
                <div>
                    <label>
                        Enabled:
                        <input type="checkbox" name="enabled" required>
                    </label>
                </div>
                <div>
                    <label>
                        Street Address:
                        <input type="text" name="address_street" required>
                    </label>
                </div>
                <div>
                    <label>
                        City:
                        <input type="text" name="address_city" required>
                    </label>
                </div>
                <div>
                    <label>
                        Country:
                        <select name="address_country" required>
                            <option value="vn">Vietnam</option>
                        </select>
                    </label>
                </div>
                <div>
                    <label>
                        Contact name:
                        <input type="text" name="contact_name" required>
                    </label>
                </div>
                <div>
                    <label>
                        Contact phone:
                        <input type="number" name="contact_phone" required>
                    </label>
                </div>
                <input name="form_key" type="hidden" value="<?php echo $block->getFormKey() ?>" />
                <div>
                    <input type="submit" value="Create">
                </div>
            </form>
        </div>
    </div>
    <div>
        <div>
            <h2>Current Manufacturer</h2>
        </div>
        <div>
            <?php foreach ($block->getManufacturers() as $manufacturer):?>
            <div>
                <h3><?php echo $manufacturer['name'] ?></h3>
                <p>Enabled: <?php echo $manufacturer['enabled']==1?'Yes':'No'; ?></p>
                <p>Street address: <?php echo $manufacturer['address_street'] ?></p>
                <p>City: <?php echo $manufacturer['address_city'] ?></p>
                <p>Country: <?php echo $manufacturer['address_country'] ?></p>
                <p>Contact name: <?php echo $manufacturer['contact_name'] ?></p>
                <p>Contact telephone: <?php echo $manufacturer['contact_phone'] ?></p>
            </div>
            <?php endforeach;?>
        </div>
    </div>
</div>

