<div style="text-align: center">
    <h1>Hello Friend</h1>
    <label for="id_customer">
        Let type a number:
        <input style="width: 30%" id="id_customer" type="number"/>
    </label>
    <input type="hidden" id="submit_url" value="<?php echo $block->getInfoAjaxUrl(); ?>"  />
    <button id="submit_button">Get Customer Info</button>
</div>

<script>
    require(['vendor'],function(vendor){
        vendor();
    })
</script>
