<style>
    .row{
        display: flex;
        margin: 5px;
    }
    .col-label{
        flex: 1;
    }
    .col-input{
        flex: 7;
    }
</style>
<form action="<?php echo $block->getSubmitUrl(); ?>" method="post">
    <?php $data=$block->getFormInfor(); ?>
    <input type="hidden" id="submit_url_ajax" value="<?php echo $block->getAjaxUrl()?>" />
    <?php if(isset($data['id'])): ?>
        <input type="hidden" id="id" name="id" value="<?php echo $data['id'];?>" />
    <?php endif; ?>
    <div>
        <div class="row">
            <div class="col-label">
                <label for="first_name">first name:</label>
            </div>
            <div class="col-input">
                <input id="first_name" type="text" name="first_name" value="<?php echo isset($data['first_name'])?$data['first_name']:""; ?>" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-label">
                <label for="last_name">last name</label>
            </div>
            <div class="col-input">
                <input id="last_name" type="text" name="last_name" value="<?php echo isset($data['last_name'])?$data['last_name']:""; ?>" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-label">
                <label for="email">email</label>
            </div>
            <div class="col-input">
                <input id="email" name="email" type="email" value="<?php echo isset($data['email'])?$data['email']:""; ?>" required/>
                <p id="alertEmail" style="font-size: 14px;color: red;display: none">Email already exist</p>
            </div>
        </div>
        <div class="row">
            <div class="col-label">
                <label for="company">company</label>
            </div>
            <div class="col-input">
                <input id="company" type="text" name="company" value="<?php echo isset($data['company'])?$data['company']:""; ?>" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-label">
                <label for="country">country</label>
            </div>
            <div class="col-input">
                <input id="country" type="text" name="country" value="<?php echo isset($data['country'])?$data['country']:""; ?>" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-label">
                <label for="phone">phone</label>
            </div>
            <div class="col-input">
                <input id="phone" type="number" name="phone_number" value="<?php echo isset($data['phone_number'])?$data['phone_number']:""; ?>" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-label">
                <label for="postcode">postcode</label>
            </div>
            <div class="col-input">
                <input id="postcode" type="number" name="postcode" value="<?php echo isset($data['postcode'])?$data['postcode']:""; ?>" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-label">
                <label for="fax">fax</label>
            </div>
            <div class="col-input">
                <input id="fax" type="text" name="fax" value="<?php echo isset($data['fax'])?$data['fax']:""; ?>" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-label">
                <label for="fax">address</label>
            </div>
            <div class="col-input">
                <input id="address" type="text" name="address" value="<?php echo isset($data['address'])?$data['address']:""; ?>" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-label">
                <label for="street">street</label>
            </div>
            <div class="col-input">
                <input id="street" type="text" name="street" value="<?php echo isset($data['street'])?$data['street']:""; ?>" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-label">
                <label for="city">city</label>
            </div>
            <div class="col-input">
                <input id="city" type="text" name="city" value="<?php echo isset($data['city'])?$data['city']:""; ?>" required/>
            </div>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </div>
</form>
<script>
    require(['check_exist_vendor'],function(check_exist_vendor){
        check_exist_vendor();
    })
</script>
