<style>
    .link{
        color: #4646f3;
    }
</style>

<div>
    Manufacturer :<p id="manufacturer"> <span class="link"><?php echo $this->getManufacturerName(); ?></p></span>

    <input type="hidden" id="url_get_manufacturer" value="<?php echo $this->getUrlGetManufacurer(); ?>" />

</div>



<script>
    require(['jquery','handlerButtonGetInfo'],function($,manufacturer){
        manufacturer();
    });
</script>

