

<?php
/**
 * @var Magenest\CountDown\Block\CountDown\CountDownHeader $block;
 */
?>

<script type="text/x-magento-init">
{
    "*": {
        "Magento_Ui/js/core/app": {
            "components": {
                "example-scope": {
                    "component": "Magenest_CountDown/js/CountDown",
                    "template":"Magenest_CountDown/timer"
                }
            }
        }
    }
}
</script>

<div data-bind="scope: 'example-scope'" style="color: <?php echo $block->getClockColor(); ?>" class="count-down-wrapper">
    <h3 style="color: <?php echo $block->getColorText();?> !important; margin-top: auto;margin-bottom: auto"><?php echo $block->getClockTitle(); ?></h3>
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>

