td.complete div {
    border: 1px solid #008000;
    padding: 5px 0px 6px 10px;
}

td.closed div{
    border: 1px solid #FF0000;
    padding: 5px 0px 6px 10px;
}

td.processing div{
    border: 1px solid #808080;
    padding: 5px 0px 6px 10px;
}

td.pending div{
    border: 1px solid #FFA500;
    padding: 5px 0px 6px 10px;
}

/*.odd{*/
/*    background-color: #0a6680!important;*/
/*}*/
/*.even{*/
/*    background-color: #2ca02c !important;*/
/*}*/
