<?php $products = $block->getProductWithSalesAgent(); ?>
<style>
    th,td{
        border: 1px solid black;
        padding: 10px;
    }
</style>
<div>
    <input type="hidden" id="report-data-url" value="<?php echo $block->getReportDataUrl(); ?>" />
    <div>
        <label>Chose Product:</label>
        <select id="product_option" style="margin-bottom: 20px">
            <option disabled selected>Select Product</option>
            <?php foreach ($products as $product): ?>
            <option value="<?php echo $product['sku']; ?>"><?php echo $product['sku']; ?></option>
            <?php endforeach; ?>
        </select>
    </div>
    <table class="table table-bordered" id="table_sales_order">


    </table>
</div>

<script>
    require(['observerProductOption'],function(observerProductOption){
        observerProductOption();
    })
</script>

