<?php
/**
 * @var Magenest\CountDown\Block\Adminhtml\CountDown\ChangeColor $block
 */
?>
<input type="hidden" id="color-text-menu-clock" value="<?php echo $block->getColorText(); ?>" />

<script>
    require(['changeConfigColor'],function(changeConfigColor){
        changeConfigColor();
    })
</script>
