<?php $products = $block->getSalesAgentProducts(); ?>

<div class="container">
    <h3 style="font-weight: normal">Sales Agent Info</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>&nbsp;</td>
            <td colspan="9">
                <div align="center"><strong>Product Listing</strong></div>
            </td>
        </tr>
        <tr>
            <td>Index</td>
            <td>product name</td>
            <td>url</td>
            <td>sku</td>
            <td>commission type</td>
            <td>commission value</td>
        </tr>
        </thead>
        <tbody>
        <?php foreach($products as $index=>$product): ?>
            <tr>
                <td class="danger"><?php echo $index+1; ?></td>
                <td class="danger"><?php echo $product['name']; ?></td>
                <td class="danger"><a href="<?php echo $product['url']; ?>"><?php echo $product['url']; ?></a></td>
                <td class="danger"><?php echo $product['sku']; ?></td>
                <td class="danger"><?php echo $product['commission_type']; ?></td>
                <td class="danger"><?php echo $product['commission_value']; ?></td>
            </tr>
        <?endforeach;?>

        </tbody>
    </table>
</div>
