<?php
/**
 * @var \Magenest\PartTimePlus\Block\Customer\ButtonSavePrefix $block
 */
?>

<button style="margin-top: 10px; margin-bottom: 10px" type="button" id="btn-vew-prefix">View Customer Same Prefix</button>

<script>
    require(['observerViewCustomerBtn'],function(observerViewCustomerBtn){
        observerViewCustomerBtn();
    });
</script>
