<style>
    .row{
        display: flex;
    }
    .col{
        flex: 1;
        text-align: center;
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }
    input{
        width: 50%;
    }
</style>
<div>
    <div class="row">
        <input type="hidden" id="get-info-url" value="<?php echo $block->getWeddingInfoUrl(); ?>" />
        <input type="hidden" id="get-add-to-cart-post-param-url" value="<?php echo $block->getAddToCartPostParamUrl(); ?>"/>
        <div class="col">
            <label>Bride's email
                <input name="bride_email" id="bride_email" type="email"/>
            </label>
        </div>
        <div class="col">
            <label>Groom's email
                <input name="groom_email" id="groom_email" type="email"/>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col content">
            <button type="button" id="btn-detail">View Detail</button>
        </div>
    </div>
    <div class="row" id="form-info" style="display: none">
        <div class="col content">
            <div style="width: 50%;margin: auto;">
                <p>Wedding: <span id="wedding-title"></span></p>
                <p>Bride name: <span id="bride-name"></span></p>
                <p>Groom name: <span id="groom-name"></span></p>
                <label>Amount:
                    <input style="width: 30%" type="number" id="amount" name="amount" value="" />

                    <input type="hidden" id="submit-add-to-cart-url" value=""/>
                    <input type="hidden" id="product" value="" />
                    <?php echo $block->getBlockHtml('formkey')?>


<!--                        <input type="hidden" name="--><?php ///* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?><!--" value="--><?php ///* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?><!--">-->

                </label>
            </div>
            <br/>
            <button type="button" id="custom-btn-add-to-card" disabled>Add to cart</button>
        </div>
    </div>


</div>

<script>
    require(['showWeddingInfo','addToCartHandler'],function(showWeddingInfo,addToCartHandler){
        showWeddingInfo();
        addToCartHandler();
    })
</script>
