<style>
    .img{
        width: 100%;
        height: auto;
    }
    h4{
        font-size: 3rem;
    }

</style>
<?php
    $customer= $block->getCustomerInfo();
?>
<div style="display: flex">
    <div style="flex: 1;padding: 10px">
        <img class="img" src="<?php echo $customer['avatar'] ?>">
    </div>
    <div style="flex: 1">
        <h4>Name: <?php echo $customer['firstname'].' '.$customer['lastname']?></h4>
        <h4>Email: <?php echo $customer['email']?></h4>
        <?php
        if(isset($customer['telephone'])){
            echo "<h4>Phone: <?php echo ".$customer["telephone"].";?></h4>";
        }
        ?>

    </div>
</div>
