<style>
    .model-wrapper{
        width: auto;
        background: #78fb78;
        padding: 15rem;
        margin-bottom: 15px;
    }
    form{
        width: 66%;
        margin: auto;
        background: whitesmoke;
        padding: 15px;
        border-radius: 5px;
    }
    }
    input{
        margin: 10px;
        width: 100%;
        margin-top: 20px;
    }
    .input{
        padding:10px;
    }
    .btn-submit{
        margin: 10px;
        margin-top: 20px;
        width: -moz-available;
        background-color: #06ae06;
        border-radius: 5px;
        color: white;
        padding: 10px;
    }
</style>
<div id="popup-modal">
    <div class="model-wrapper">
        <form>
            <div class="input">
                <input class="input" type="email"/>
            </div>
            <div class="input">
                <input class="input" type="password"/>
            </div>
            <div>
                <button class="btn-submit">Login</button>
            </div>
        </form>
    </div>
</div>
<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal',
            'ko'
        ],
        function(
            $,
            modal,
            ko
        ) {

            var viewModal=function(){
                var self=this;
                self.email=ko.observable("tu@gmail.com");
            }

            var options = {
                type: 'popup',
                responsive: false,
                innerScroll: false,
                title: 'Login Modal',
                button:[]
            };


            var popup = modal(options, $('#popup-modal'));
            $('#openLoginModel').click(function(){
                $(".modal-footer").hide();
                $('#popup-modal').modal('openModal');
            });

            $('#HelloWorld').click(function(){
                alert("Hello World");
            });

        }
    );
</script>



<style>
    button{
        margin: 10px 20px 10px 20px;
    }
</style>


<button id="HelloWorld">Open Modal</button>
<button id="openLoginModel">Open Magento Login Modal</button>
<button>Open Custom Login Modal</button>
