<h2>Hello World</h2>
<p>
    <a href="<?php echo $block->getLandingsUrl(); ?>">Go to
        landings URL</a>
</p>
<p>
    <a href="<?php echo $block->getRedirectUrl(); ?>">Go to
        redirect URL</a>
</p>
<p>
    <?php echo __('test translate') ?>
</p>
