<script>
    require([
        'jquery',
        'prototype'
    ], function(jQuery){
        jQuery("#reloadbutton").click(function(){
            location.reload();
            return false;
        })
    });
</script>

<div class="pp-buttons-container">
    <button id="<?php echo $block->getId() ?>" >
        <?php echo $block->getLabel(); ?>
    </button>
</div>

