<!-- ko if: (cart().discount_amount_no_html < 0) -->
<div class="subtotal">
    <span class="label">
        pahon
        <!-- ko i18n: 'Discount Pahon' --><!-- /ko -->
    </span>

    <!-- ko foreach: elems -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
</div>
<!-- /ko -->
