<div class="admin__page-section-item order-information">
    <h4>Numbers of module installed in Magneto belonged to another Vendor: <?php echo $block->getTotalModuleOfAnotherVendor(); ?></h4>
    <h4>Numbers of module installed in Magneto: <?php echo $block->getTotalModuleOfMagento(); ?></h4>
</div>
