<style>
    td{
        text-align: left !important;
    }
</style>
<div class="admin__page-section-item order-information">
    <table class="admin__table-secondary">
        <tbody>
        <tr>
            <th>Total Invoice</th>
            <td>
                <?php echo $block->getTotalInvoice(); ?>
            </td>
        </tr>
        <tr>
            <th>Total Order</th>
            <td>
                <?php echo $block->getTotalOrder(); ?>
            </td>
        </tr>
        <tr>
            <th>Total Product</th>
            <td>
                <?php echo $block->getTotalProduct(); ?>
            </td>
        </tr>
        <tr>
            <th>Total Customer</th>
            <td>
                <?php echo $block->getTotalCustomer(); ?>
            </td>
        </tr>
        <tr>
            <th>Total Credit</th>
            <td>
                <?php echo $block->getTotalCredit(); ?>
            </td>
        </tr>
        </tbody>
    </table>
</div>
