<div style="padding: 0px 0px 20px;">
    <label>
        <input type='hidden' value='0' name='is_manager'>
        <input type="checkbox" name="is_manager" value="1" id="is_manager"/>
        Is manager
    </label>
</div>

