<?php
/** @var \Magenest\PartTimePlus\Block\Question\Answer $block */
?>
<?php $orderIds = $block->getOrderIdContainQuestion(); ?>

<style>
    .form{
        margin-left: auto;
        width: 13%;
        margin-right: auto;
    }

</style>
<div class="form">
    <label>Order Id:
        <select id="order">
            <option selected disabled>Choose order id</option>
            <?php foreach ($orderIds as $order): ?>
                <option value="<?php echo $order; ?>"><?php echo $order; ?></option>
            <?php endforeach; ?>
        </select>
    </label>

    <label style="margin-top: 20px">Questions:
        <select id="question">

        </select>
    </label>

</div>

<script type="text/javascript" xml="space">
    require(['observerOrderId'],function (observerOrderId){
        observerOrderId();
    })
</script>
