<?php
/** @var \Magenest\PartTimePlus\Block\Question\ShowQuestion $block */
?>
<h4>KEYWORD: <?php echo $block->getProductQuestion(); ?></h4>
<input type="hidden" name="keyword" value="<?php echo $block->getProductQuestion(); ?>" />
