<?php
/**
 * @var Magenest\Notification\Block\Notification\Index $block;
 */
?>

<script type="text/x-magento-init">
{
    "*": {
        "Magento_Ui/js/core/app": {
            "components": {
                "example-scope": {
                    "component": "Magenest_Notification/js/viewModelNotifications",
                    "template":"Magenest_Notification/table_notification"
                }
            }
        }
    }
}
</script>
<div data-bind="scope: 'example-scope'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>








