<?php
/**
 * @var Magenest\Notification\Block\Notification\NumberNotification $block;
 */
$numNotificationNotRead = $block->getNumberNotification();

?>


<style>
    .number-notification{
        background-color: #ff0000b3;
        border-radius: 50%;
        width: auto;
        height: 17px;
        text-align: center;
        float: right;
        margin-right: 35%;
        min-width: 17px;
    }
</style>

<span class="number-notification" id="number-notification"><?php echo $numNotificationNotRead;?></span>

