<style>
    .timer-wrapper{
        display: inline-flex;
        vertical-align: middle;
        margin-top: auto;
        margin-bottom: auto;
    }
</style>
<!--<div data-bind="text: requestTime()"></div>-->

<div style="display: inline-block" data-bind="text: runCountDown()"></div>
<h3 class="timer-wrapper" style="display: inline-flex" data-bind="text: getTime()"></h3>
