

<script type="text/x-magento-init">
{
    "*": {
        "Magento_Ui/js/core/app": {
            "components": {
                "select-color-scope": {
                    "component": "Magenest_JuniorChap3/js/ColorModel",
                    "template":"Magenest_JuniorChap3/selectColor"
                }
            }
        }
    }
}

</script>

<div data-bind="scope: 'select-color-scope'" class="color-select-wrapper">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>

