<style>
    .not-viewed{
        background-color: #ff00000d;
    }
    .visible{
        display: inline-block;
    }
    .not-visible{
        display: none;
    }
</style>
<div data-bind="text: getNotifications()"></div>
<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>&nbsp;</td>
                <td colspan="9">
                    <div align="center"><strong>My notifications</strong></div>
                </td>
            </tr>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created at</th>
                <th>Read notification</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: notifications">
            <tr data-bind="attr: { 'class': $parent.getClass($data) }">
                <td data-bind="text: entity_id"></td>
                <td data-bind="text: name"></td>
                <td data-bind="text: short_description"></td>
                <td data-bind="text: created_at"></td>
                <td>
                    <a data-bind="attr: { href: redirect_url }">Read</a>
                    <a type="button" data-bind="click: function(data){$parent.markAsRead(data);},attr: { 'class': $parent.isVisible($data) }"  > | Mark as read</a>
                    <a type="button" data-bind="click: function(data){$parent.deleteItem(data);}"> | Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
