
<?php
    $address=$block->getAddressDetail();
?>



<style>
    input,select,option{
        width: 50%;
    }
    .row{
        display: flex;
        padding: 10px;
    }
    .col-left{
        text-align: right;
        padding-right: 20px;
        font-weight: bold;
        font-size: 14px;
        flex: 1;
    }
    .col-right{
        flex: 2;

    }
    .row .btn-submit{
        margin-left: auto !important;
        margin-right: auto !important;
        background-color: #eb5202;
        border-color: #eb5202;
        padding: 10px;
        color: white;
        font-weight: bold;
        font-size: 16px;
    }
</style>

<form action="<?php echo $block->getSubmitUrl(); ?>" method="post">

    <input type="hidden" name="id" value="<?php echo $address?$address["id"]:""; ?>" />
    <div class="row">
        <div class="col-left">
            <label >Street:</label>
        </div>
        <div class="col-right">
            <input  type="text" name="street" value="<?php echo $address?$address["street"]:""; ?>" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-left">
            <label >City:</label>
        </div>
        <div class="col-right">
            <input type="text" name="city" value="<?php echo $address?$address["city"]:""; ?>" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-left">
            <label >Country:</label>
        </div>
        <input type="hidden" id="selected_country" value="<?php echo $address?$address["country"]:""; ?>"/>
        <div class="col-right">
            <select type="text" name="country" id="country" value="<?php echo $address?$address["country"]:""; ?>" required>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-left">
            <label >Region:</label>
        </div>
        <div class="col-right">
            <input type="text" name="region" placeholder="region" id="region" value="<?php echo $address?$address["region"]:""; ?>" readonly required/>
        </div>
    </div>
    <div class="row">
        <div class="col-left">
            <label >Postcode:</label>
        </div>
        <div class="col-right">
            <input type="number" name="postcode" value="<?php echo $address?$address["postcode"]:""; ?>" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-left">
            <label >Telephone:</label>
        </div>
        <div class="col-right">
            <input type="number" name="telephone" value="<?php echo $address?$address["telephone"]:""; ?>" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-left">
            <label >Fax:</label>
        </div>
        <div class="col-right">
            <input type="number" name="fax" value="<?php echo $address?$address["fax"]:""; ?>" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-left">
            <label >Firstname:</label>
        </div>
        <div class="col-right">
            <input type="text" name="firstname" value="<?php echo $address?$address["firstname"]:""; ?>" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-left">
            <label >Lastname:</label>
        </div>
        <div class="col-right">
            <input type="text" name="lastname" value="<?php echo $address?$address["lastname"]:""; ?>" required/>
        </div>
    </div>
    <div class="row">
        <div class="col-left">
            <label >Email:</label>
        </div>
        <div class="col-right">
            <input type="email" name="email" value="<?php echo $address?$address["email"]:""; ?>" required/>
        </div>
    </div>
    <div class="row">
        <input class="btn-submit" style="width: 10%;text-align: center" class="btn-primary" type="submit" value="Save" />
    </div>
    <input name="form_key" type="hidden" value="<?php echo $block->getFormKey() ?>" />

</form>
<script>
    require(['observerCountry'],function(observerCountry){
        observerCountry();
    })
</script>
