<!--Use 'stepCode' as id attribute-->
<li data-bind="fadeVisible: isVisible, attr: { id: stepCode }">
    <div class="step-title" data-bind="i18n: stepTitle" data-role="title"></div>
    <div id="checkout-step-title"
         class="step-content"
         data-role="content">
        <p>The customer is <span data-bind="if: !isLogedIn">not</span> Logged-in</p>
        <label>Username:</label>
        <input data-bind="value:email" name="username" id="username" type="text"/><br>
        <label>Password:</label>
        <input name="password" data-bind="value:password" id="password" type="password"/><br>
        <form data-bind="submit: navigateToNextStep" novalidate="novalidate">

            <div data-bind="if: !isLogedIn" class="actions-toolbar">
                <div class="primary">
                    <button id="cadotahen" data-role="opc-continue" type="submit" class="button primary">
                        <span><!-- ko i18n: 'Submit and next'--><!-- /ko --></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
