<div style="
    width: 100%;
    display: inline-flex;
">
    <div style="
    width: 44%;
">
        <button type="button" data-bind="click: prev">BEHIND</button>
    </div>
    <div style="
    width: 41%;
">
        <p>Total: <span data-bind="text: grandTotal"></span></p>
    </div>
    <div style="
    width: 15%;
">
        <button type="button" data-bind="click: next" id="btn-continue">CONTINUE</button>
    </div>

</div>
