<?php $roomDetail =  $block->getRoomDetail(); ?>
<form action="<?php echo $block->getSubmitUrl(); ?>" method="post">
    <div>
        <div>Name:
            <label>
                <input type="text" name="name" value="<?php echo $roomDetail['name']; ?>" readonly/>
            </label>
        </div>
        <input type="hidden" name="id" value="<?php echo $roomDetail['id']; ?>"/>
        <div>Price:
            <label>
                <input type="text" name="price" value="<?php echo $roomDetail['price']; ?>" readonly/>
            </label>
        </div>
        <div>Number pc:
            <label>
                <input type="number" name="number_pc" value="<?php echo $roomDetail['number_pc']; ?>"/>
            </label>
        </div>
        <div>Address:
            <label>
                <input type="text" name="address" value="<?php echo $roomDetail['address']; ?>"/>
            </label>
        </div>
        <div>Food price:
            <label>
                <input type="number" name="food_price" value="<?php echo $roomDetail['food_price']; ?>"/>
            </label>
        </div>
        <div>Drink price:
            <label>
                <input type="number" name="drink_price" value="<?php echo $roomDetail['drink_price']; ?>"/>
            </label>
        </div>
        <div>
            <input type="submit" value="Submit" <?php if($block->isManager()==false){
                echo "disabled";
            } ?>/>
        </div>
    </div>
</form>

