<?php $rooms= $block->getListRoom(); ?>
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>&nbsp;</td>
            <td colspan="9">
                <div align="center"><strong>Room Listing</strong></div>
            </td>
        </tr>
        <tr>
            <td>Index</td>
            <td>Product id</td>
            <td>Number pc</td>
            <td>Address</td>
            <td>Price</td>
            <td>Food price</td>
            <td>Drink price</td>
            <td>Action</td>
        </tr>
        </thead>
        <tbody>
        <?php foreach($rooms as $index=>$room): ?>
            <tr>
                <td class="danger"><?php echo $index+1; ?></td>
                <td class="danger"><?php echo $room['product_id']; ?></td>
                <td class="danger"><?php echo $room['number_pc']; ?></td>
                <td class="danger"><?php echo $room['address']; ?></td>
                <td class="danger"><?php echo $room['price']; ?></td>
                <td class="danger"><?php echo $room['food_price']; ?></td>
                <td class="danger"><?php echo $room['drink_price']; ?></td>
                <td class="danger">
                    <a href="<?php echo $block->getEditUrl()."id/".$room['id']; ?>">Edit</a>
                </td>
            </tr>
        <?endforeach;?>

        </tbody>
    </table>
</div>
