<?php
    $extraOption = $block->getRoomDetail();
    $currencySymbol = $block->getCurrencySymbol();
    $urlValidate = $block->getValidateAccountUrl();
?>
<?php if(isset($extraOption)):?>
<style>
    .title{
        margin: 10px 0px 10px 0px!important;
    }
</style>
<div>
    <input type="hidden" type="number" id="origin_price"/>
    <input type="hidden" id="validate_account_url" value="<?php echo $urlValidate; ?>"/>
    <input type="hidden" type="text" id="currency_symbol" value="<?php echo $currencySymbol; ?>" />
    <input type="hidden" id="origin_price" value=""/>
    <label class="title">Number pc: <?php echo $extraOption['number_pc'];?></label><br>
    <label class="title">Address: <?php echo $extraOption['address'];?></label><br>
    <label class="title">Food price: <?php echo $extraOption['food_price'];?></label><br>
    <label class="title">Drink price: <?php echo $extraOption['drink_price'];?></label><br>
    <label class="title">Account name:
        <input style="width: 40%;" type="text" name="account_name" id="account_name" placeholder="account name" required="true" />
    </label>
    <p id="alert-duplicate" style="color: red;display: none">Tài khoản đã tồn tại</p>
    <p>Khi checkout thành công chúng tôi sẽ đặt mật khẩu mặc định là 1</p>
</div>

<script>
    require(['observerQty','ValidateAccountName'],function(observerQty,ValidateAccountName){
        observerQty();
        ValidateAccountName();
    })
</script>

<?php endif; ?>


