<div data-bind="text: getColors()"></div>
<label id="select-color">Select Color
    <select data-bind="options: colors,
                        optionsText: 'color_name',
                        optionsValue: 'color_value',
                        value: selected_color,
                        event:{change: function(data){changeSelect(data)}},
                        optionsCaption: 'Choose color...'
                    "
            style="width: 10%">
    </select>
</label>

