<form style="text-align: center" method="post" action="<?php echo $block->getUrlAdmin(); ?>">
    <div>
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
    </div>
    <div>
        <label for="exampleInputEmail1">First name</label>
        <input type="text" name="firstname" aria-describedby="emailHelp" placeholder="First name" required>
    </div>
    <div>
        <label for="exampleInputEmail1">Last name</label>
        <input type="text" name="lastname" aria-describedby="emailHelp" placeholder="Last name" required>
    </div>
    <div>
        <label for="exampleInputEmail1">Message</label>
        <input type="text" name="message" aria-describedby="emailHelp" placeholder="Message name" required>
    </div>
    <input name="form_key" type="hidden" value="<?php echo $block->getFormKey() ?>" />
    <button type="submit" class="btn btn-primary">Create</button>
</form>
