<form action="<?php echo $block->getUrlAdmin(); ?>" method="post">
    <?php $sup = $block->getEditRecord(); ?>
    <div style="width: 100%">
        <input name="form_key" type="hidden" value="<?php echo $block->getFormKey() ?>" />
        <input type="hidden" name="subscription_id" value="<?php echo $sup["subscription_id"]; ?>">
        <div class="col-m-12" style="text-align: center">
            <fieldset class="fieldset admin__fieldset " id="theme">
                <div class="admin__field field ">
                    <label class="label admin__field-label" for="test_input">
                        <span>Test input</span>
                    </label>
                    <div class="admin__field-control control">
                        <input name="email" value="<?php echo $sup["email"] ?>" title="Test input" type="text" class="input-text admin__control-text"/>
                    </div>
                </div>
                <div class="admin__field field ">
                    <label class="label admin__field-label" for="test_input">
                        <span>Test input</span>
                    </label>
                    <div class="admin__field-control control">
                        <input name="firstname" value="<?php echo $sup["firstname"] ?>" title="Test input" type="text" class="input-text admin__control-text"/>
                    </div>
                </div>
                <div class="admin__field field ">
                    <label class="label admin__field-label" for="test_input">
                        <span>Test input</span>
                    </label>
                    <div class="admin__field-control control">
                        <input name="lastname" value="<?php echo $sup["lastname"] ?>" title="Test input" type="text" class="input-text admin__control-text"/>
                    </div>
                </div>
                <div class="admin__field field ">
                    <label class="label admin__field-label" for="test_input">
                        <span>Test input</span>
                    </label>
                    <div class="admin__field-control control">
                        <input name="message" value="<?php echo $sup["message"] ?>" title="Test input" type="text" class="input-text admin__control-text"/>
                    </div>
                </div>

                <div class="admin__field field ">
                    <button
                        class="action-primary"
                        title="<?php echo __('Update') ?>">
                        <?php echo __('Update') ?>
                    </button>
                </div>
            </fieldset>
        </div>
    </div>
</form>



